$main-color: #F3BF42;

//theme
$color-1: #E1B168;
$color-2: #292E36;

$font-color-1: #555555;
$font-color-2: #FFFFFF;

.App {
    min-height: 100vh;

    @media (min-width:20em) {
        /* smartphones, iPhone, portrait 480x320 phones */
    }

    @media (min-width:30em) {
        /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    }

    @media (min-width:40em) {
        /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    }

    @media (min-width:60em) {
        /* tablet, landscape iPad, lo-res laptops ands desktops */
    }

    @media (min-width:64em) {
        /* big landscape tablets, laptops, and desktops */
    }

    @media (min-width:80em) {
        /* hi-res laptops and desktops */
    }
}

.header {
    background: $main-color;
    color: $font-color-1;
}

.sider {
    background: $color-2;
    color: $font-color-2;
    border-right: 1px solid $color-1;
}

.content {
    color: $font-color-1;
    margin: 1em;
}

.footer {
    background: $color-2;
    color: $font-color-2;
    border-top: 1px solid $color-1;
}